<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary">
            Forget Password
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- Login ID -->
          <span><b>Login Id</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <input type="text" class="form-control"
                   name="loginId"
                   [(ngModel)]="form.data.loginId"
                   placeholder="Enter Login ID">
          </div>
          <small class="text-danger">{{ form.inputerror.loginId }}</small>

          <!-- Button -->
          <div class="text-center mt-3">

            <button class="btn btn-primary btn-md"
                    (click)="submit()">
              Go
            </button>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>

<app-footer></app-footer>