<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 175px;
  }
</style>
<app-navbar></app-navbar>

<div class="hm">
  <div class="row pt-3">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary" *ngIf="!form.data.id">
            Add Transport
          </h3>

          <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
            Update Transport
          </h3>

          <!-- Success -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- Transport ID  -->
          <span><b>Transport ID</b> *</span>
          <input type="text" class="form-control mb-2"
                 [(ngModel)]="form.data.transportId"
                 name="transportId"
                 placeholder="Enter Transport ID">
          <small class="text-danger">{{ form.inputerror.transportId }}</small>


          <!-- Vehicle Type -->
          <span><b> Vehicle Type</b> *</span>
          <input type="text" class="form-control mb-2"
                 [(ngModel)]="form.data.vehicleType"
                 name="vehicleType"
                 placeholder="Enter Vehicle Type">
          <small class="text-danger">{{ form.inputerror.vehicleType }}</small>

          <!-- Driver Name  -->
          <span><b> Driver Name</b> *</span>
          <input type="text" class="form-control mb-2"
                 [(ngModel)]="form.data.driverName"
                 name="driverName"
                 placeholder="Enter Driver Name ">
          <small class="text-danger">{{ form.inputerror.driverName }}</small>

           <!-- Charges  -->
          <span><b> Charges</b> *</span>
          <input type="number" class="form-control mb-2"
                 [(ngModel)]="form.data.charges"
                 name="charges"
                 placeholder="Enter Charges ">
          <small class="text-danger">{{ form.inputerror.charges }}</small>
            

          

          <!-- Buttons -->
          <div class="text-center mt-3">
            <button class="btn btn-success" (click)="submit()">Save</button>
            &nbsp;
            <button class="btn btn-warning"
                    (click)="forward('transportlist')">List</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>

<app-footer></app-footer>